language: go

sudo: false

os:
  - linux
  - osx

go:
  - 1.12.x
  - 1.13.x
  - master

env:
  global: 
    - DOCKER_USER=vivino
    - GO111MODULE=on

# needed for the docker pipe
services:
  - docker

script:
 - diff <(gofmt -d .) <(printf "")
 - go test ./...
 - go test -cpu=1 -short -race ./...
 - go test -cpu=4 -short -race ./...

matrix:
  allow_failures:
    - go: 'master'
  fast_finish: true

after_success:
  # docker login is required if you want to push docker images.
  # DOCKER_PASSWORD should be a secret in your .travis.yml configuration.
  # - test -n "$TRAVIS_TAG" && docker login -u="$DOCKER_USER" -p="$DOCKER_PASSWORD"

# calls goreleaser
deploy:
  - provider: script
    skip_cleanup: true
    script: curl -sL https://git.io/goreleaser | bash
    on:
      tags: true
      condition: $TRAVIS_OS_NAME = linux

