name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest] 
        go-version: [1.16.x, 1.17.x]
    runs-on: ${{ matrix.os }}
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      -
        name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: golangci-lint
        # TODO: fix golangci-lint errors and warnings, and remove continue-on-error
        continue-on-error: true
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.43
      -
        name: Tests
        run: |
          go mod tidy
          go test -v ./...
          go test -cpu=1 -short -race ./...
          go test -cpu=4 -short -race ./...

  go-releaser-check:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16.x

    - name: Checkout code
      uses: actions/checkout@v2

    - name: goreleaser deprecation
      run: curl -sfL https://git.io/goreleaser | VERSION=v1.2.5 sh -s -- check

    - name: goreleaser snapshot
      run: curl -sL https://git.io/goreleaser | VERSION=v1.2.5 sh -s -- --snapshot --skip-publish --rm-dist
